name: Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.x'

      - name: Install NPM Dependencies
        run: npm install

      - name: Install Snapcraft
        if: matrix.os == 'ubuntu-latest'
        run: |
            sudo snap install snapcraft --classic

      - name: Build & Publish Mac
        if: matrix.os == 'macos-latest'
        run: npm run publish-mac
        env:
          VITE_LSP_WEBSOCKET_PORT: 54331
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Publish Linux
        if: matrix.os == 'ubuntu-latest'
        run: npm run publish-linux
        env:
          VITE_LSP_WEBSOCKET_PORT: 54331
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
